@page
@model IndexModel
@{
    ViewData["Title"] = "E-Learning KPI Indicators";
}

<div class="text-center">
    <h1 class="display-4">The following is the most common KPIs for the E-Learning Deanship at the University of Taibah</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
